.page-container {
  padding: 20px;
  margin-bottom: 40px;
}

.card-container {
  background-color: white;
  color: gray;
  border-radius: 10px;
}

.center-aligned {
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
  text-align: center;
  flex: 1;
}

.mat-list-item {
    text-align: center;
    color: grey;
}
