<mat-toolbar class="toolbar-container">
    <button mat-icon-button>
        <mat-icon (click)="goBack()">arrow_back</mat-icon>
    </button>
    <span>{{headerText}}</span>
    <!-- <mat-icon matTooltip="REGISTER NOW !">arrow_forward</mat-icon> -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>assignment_turned_in</mat-icon>
            <span>REGISTER</span>
        </button>
        <button mat-menu-item>
            <mat-icon>color_lens</mat-icon>
            <span>Change Theme</span>
        </button>
    </mat-menu>
</mat-toolbar>
<div class="body-container pd-20">
    <div *ngFor="let list of listDetails">
        <mat-card class="card-container">
            <mat-card-header class="center-aligned">
                <mat-card-title>{{list.name}}</mat-card-title>
                <mat-card-subtitle>{{list.age}}</mat-card-subtitle>
                </mat-card-header>
            <mat-card-actions class="action-button-container">
                <button mat-raised-button class="action-buttons" (click)="openBottomSheet(list)"
                    color="accent">INFO</button>
                <button mat-raised-button class="action-buttons" color="accent">REGISTER</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>